.controls {
  display: grid;
  grid-auto-flow: column;
}

.button {
  display: grid;
  box-sizing: border-box;
  margin-right: 5px;
  position: relative;
  width: 44px;
  height: 44px;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
  transition: ease-in 0.1s;
  -webkit-transition: ease-in 0.1s;
  -moz-transition: ease-in 0.1s;
  -ms-transition: ease-in 0.1s;
  -o-transition: ease-in 0.1s;
  cursor: pointer;
  &:hover{
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:active:not(:nth-child(2)){
    transition: transform ease-in-out 0.3s;
    -webkit-transition: transform ease-in-out 0.3s;
    -moz-transition: transform ease-in-out 0.3s;
    -ms-transition: transform ease-in-out 0.3s;
    -o-transition: transform ease-in-out 0.3s;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
}

.button_refresh {
  img {
    margin: auto;
    width: 18px;
  }
}

.select_lang {
  color: white;
  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
  text-align: center;
  padding: 4px;
  padding-left: 6px;
  font-size: 22px;
  option {
    color: black;
    vertical-align: middle;
  }
  option:checked {
    vertical-align: middle;
  }
}

.button_units {
  font-size: 28px;
  span {
    margin: auto;
  }
}
