body {
    background-image: url(../img/background/bg1.png);
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    user-select: none;
    overflow-x: hidden;
    transition: background 2s ease;
    -webkit-transition: background 2s ease;
    -moz-transition: background 2s ease;
    -ms-transition: background 2s ease;
    -o-transition: background 2s ease;
}

.wrapper {
  display: grid;
  background-color: rgba(0,0,0,.5);
  grid-template-areas:
  "header"
  "main"
  "footer"
  ;
  width: 97vw;
  height: 92vh;
  padding: 7px;
  overflow: hidden;
  @media screen and (max-width: 640px) {
    overflow: auto;
    overflow-x: hidden;
  }
}

header {
  display: grid;
  grid-area: header;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 5px;
  margin-right: 25px;
  width: 98vw;
  @media screen and (max-width: 640px) {
    grid-auto-flow: unset;
    justify-content: center;
}
}

main {
    display: grid;
    grid-area: main;
    grid-auto-flow: column;
    grid-template-columns: 40% 60%;
    width: 98vw;
    overflow: hidden;
    @media screen and (max-width: 640px) {
      grid-template-columns: 100%;
      grid-auto-flow: row;
      overflow-y: auto;
  }
}

footer {
  grid-area: footer;
  width: 98vw;
}

