.map_block {
  display: grid;
  grid-auto-rows: 5fr 1fr;
}

.map {
  width: 60%;
  height: 70%;
  margin: auto;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  // -webkit-clip-path: polygon(51% 0, 84% 9%, 99% 28%, 95% 59%, 75% 100%, 36% 88%, 17% 75%, 5% 58%, 4% 32%, 20% 8%);
  // clip-path: polygon(51% 0, 84% 9%, 99% 28%, 95% 59%, 75% 100%, 36% 88%, 17% 75%, 5% 58%, 4% 32%, 20% 8%);
}

.mapboxgl-control-container {
  display: none;
}

.coordinates {
  text-align: center;
}
