.map_block {
  display: grid;
  @media screen and (max-width: 440px) {
    padding-bottom: 50px;
  }
}

.map {
  width: 31vw;
  height: 42vh;
  margin: auto;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.geocoder {
  max-width: 260px;
}

.mapboxgl-control-container {
  display: none;
}

.coordinates {
  text-align: center;
  font-size: 120%;
}

.mapboxgl-ctrl-geocoder {
  @media screen and (max-width: 640px) {
    width: 33.3333%;
    font-size: 15px;
    line-height: 20px;
    max-width: 360px;
}
@media screen and (max-width: 440px) {
  width: 72%;
  font-size: 11px;
  min-width: 149px;
}
@media screen and (max-width: 340px) {
  grid-auto-flow: unset;
  justify-content: center;
  max-width: 168px;
  margin-top: 5px;
  width: 100%;
}
}
