.weather {
  height: 75vh;
  @media screen and (max-width: 640px) {
    margin-top: 50px;
}
}

.location {
  font-size: 2em;
  width: 100%;
  min-width: 62px;

  @media screen and (max-width: 720px) {
    font-size: 1.2em;
  }
}

.current_time {
  font-size: 1.5em;
  margin-top: 10px;

  @media screen and (max-width: 720px) {
    font-size: 1em;
  }
}


.wearher_today__block {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-areas:
    "temp ico"
    "temp prop";
  padding-bottom: 20px;
  border-radius: 5px;
}

.today_parameters {
  position: relative;
}

.today_ico {
  img {
    position: absolute;
    width: 200px;
    top: -42px;
    right: 51px;

    @media screen and (max-width: 860px) {
      right: -4px;
    }

    @media screen and (max-width: 440px) {
      right: -23px;
    }
  }
}

.today_weather__property {
  text-align: left;
  padding-top: 63px;

  @media screen and (max-width: 440px) {
    padding-top: 50px;
  }
}


.today_temp {
  font-weight: 400;
  font-size: 530%;
  grid-area: temp;

  @media screen and (max-width: 640px) {
    font-size: 322%;
  }

  @media screen and (max-width: 440px) {
    font-size: 249%;
  }
}

.today_temp::after,
.dealy_temp::after,
.feel--value::after {
  content: "\00B0";
}

.today_weather__ico {
  width: 80%;
  grid-area: ico;
}

.today_weather__property {
  grid-area: prop;
}

.weather_days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dealy {
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: 90px;
}

.dealy_weather__wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 90px;

  @media screen and (max-width: 740px) {
    display: unset;
    grid-template-columns: unset;
    height: unset;
  }
}

.dealy_temp {
  font-size: 290%;

  @media screen and (max-width: 860px) {
    font-size: 190%;
  }

  @media screen and (max-width: 780px) {
    font-size: 90%;
  }
}

.humidity--value::after {
  content: " \0025";
}
